{
  "openapi": "3.0.0",
  "info": {
    "title": "API de Portfólio Profissional",
    "description": "API para gerenciamento de portfólios profissionais com suporte a projetos, blog e e-commerce",
    "version": "1.0.0",
    "contact": {
      "email": "suporte@seudominio.com"
    }
  },
  "servers": [
    {
      "url": "https://api.seudominio.com/v1",
      "description": "Servidor de Produção"
    },
    {
      "url": "https://staging-api.seudominio.com/v1",
      "description": "Servidor de Staging"
    }
  ],
  "tags": [
    {
      "name": "auth",
      "description": "Autenticação e gestão de usuários"
    },
    {
      "name": "portfolio",
      "description": "Gestão do portfólio"
    },
    {
      "name": "projects",
      "description": "Gestão de projetos e trabalhos"
    },
    {
      "name": "blog",
      "description": "Gestão do blog"
    },
    {
      "name": "store",
      "description": "E-commerce e gestão de produtos"
    },
    {
      "name": "contact",
      "description": "Formulário de contato e mensagens"
    },
    {
      "name": "analytics",
      "description": "Métricas e análises"
    },
    {
      "name": "media",
      "description": "Gestão de arquivos de mídia"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "MediaItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "filename": {
            "type": "string"
          },
          "originalName": {
            "type": "string"
          },
          "mimeType": {
            "type": "string"
          },
          "size": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "width": {
                "type": "integer"
              },
              "height": {
                "type": "integer"
              },
              "duration": {
                "type": "number"
              },
              "aspectRatio": {
                "type": "number"
              },
              "format": {
                "type": "string"
              },
              "optimizedVersions": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "width": {
                      "type": "integer"
                    },
                    "height": {
                      "type": "integer"
                    },
                    "quality": {
                      "type": "integer"
                    },
                    "format": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  },
  "paths": {
    "/media/upload": {
      "post": {
        "tags": ["media"],
        "summary": "Upload de arquivo",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["file"],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "projectId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID do projeto para vincular a mídia"
                  },
                  "postId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID do post para vincular a mídia"
                  },
                  "productId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID do produto para vincular a mídia"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Upload realizado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaItem"
                }
              }
            }
          },
          "400": {
            "description": "Arquivo inválido"
          },
          "401": {
            "description": "Não autorizado"
          }
        }
      }
    },
    "/media": {
      "get": {
        "tags": ["media"],
        "summary": "Listar arquivos de mídia",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "mimeType",
            "schema": {
              "type": "string"
            },
            "description": "Filtrar por tipo de mídia"
          },
          {
            "in": "query",
            "name": "projectId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filtrar por projeto"
          },
          {
            "in": "query",
            "name": "postId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filtrar por post"
          },
          {
            "in": "query",
            "name": "productId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filtrar por produto"
          },
          {
            "in": "query",
            "name": "includeProjects",
            "schema": {
              "type": "boolean"
            },
            "description": "Incluir dados dos projetos relacionados"
          },
          {
            "in": "query",
            "name": "includePosts",
            "schema": {
              "type": "boolean"
            },
            "description": "Incluir dados dos posts relacionados"
          },
          {
            "in": "query",
            "name": "includeProducts",
            "schema": {
              "type": "boolean"
            },
            "description": "Incluir dados dos produtos relacionados"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de arquivos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MediaItem"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado"
          }
        }
      }
    },
    "/media/{id}": {
      "delete": {
        "tags": ["media"],
        "summary": "Deletar arquivo",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Arquivo deletado com sucesso"
          },
          "401": {
            "description": "Não autorizado"
          },
          "404": {
            "description": "Arquivo não encontrado"
          }
        }
      }
    },
    "/media/{id}/optimize": {
      "post": {
        "tags": ["media"],
        "summary": "Otimizar imagem",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "width": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "height": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "quality": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                  },
                  "format": {
                    "type": "string",
                    "enum": ["jpeg", "png", "webp"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Imagem otimizada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaItem"
                }
              }
            }
          },
          "400": {
            "description": "Parâmetros inválidos"
          },
          "401": {
            "description": "Não autorizado"
          },
          "404": {
            "description": "Arquivo não encontrado"
          }
        }
      }
    },
    "/media/{id}/relations": {
      "post": {
        "tags": ["media"],
        "summary": "Adicionar relações ao arquivo",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "postId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "productId": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Relações adicionadas com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaItem"
                }
              }
            }
          },
          "400": {
            "description": "Parâmetros inválidos"
          },
          "401": {
            "description": "Não autorizado"
          },
          "404": {
            "description": "Arquivo não encontrado"
          }
        }
      },
      "delete": {
        "tags": ["media"],
        "summary": "Remover relações do arquivo",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "postId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "productId": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Relações removidas com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaItem"
                }
              }
            }
          },
          "400": {
            "description": "Parâmetros inválidos"
          },
          "401": {
            "description": "Não autorizado"
          },
          "404": {
            "description": "Arquivo não encontrado"
          }
        }
      }
    }
  }
}